// @import "compass/reset";

/*! PocketGrid 1.1.0
 * Copyright 2013 Arnaud Leray
 * MIT License
 */
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.block-group {
  *zoom: 1;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.block {
  float: left;
  width: 100%;
}

// grid gutters
.block-group { margin: -2px -12px; }
.block { padding: 2px 12px; }

// large grid positioning
.left { clear: left; }
.container {
  width: 80%;
  margin: auto;
}
.triangle__container { width: 25% }
.triangle__margin    { width: 37.5% }
.triangle {
  display: block;
  margin: auto;
}
.titles__main   { width: 80%; }
.titles__subtitle, .titles__icon-bar, .about, .skills, .skills__list { width: 50%; }
.work-piece { width: 1/3 * 100%; }

// within-block layout
.icon { float: right; }
.main-picture {
  max-width: 100%;
}
.say-hi, .copyright { text-align: center; }
.triangle__margin > hr {
  margin-top: 75px;
  border: 0;
  height: 1px;
}

// fonts and icons
@import "compass/css3/font-face";
@include font-face("icomoon", font-files("icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.woff"));
$font-stack: "Ubuntu", sans-serif;
$font-light: 400;
$sox-blue: #002244;
$sox-blue--light: #224466;
$sox-red:  #C60C30;

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $sox-blue;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon { margin: 0 0.455em; }
.icon-facebook:before { content: "\e600"; }
.icon-twitter:before { content: "\e601"; }
.icon-github:before { content: "\e602"; }
.icon-linkedin:before { content: "\e603"; }

// custom styles
body {
  background: url("../images/bg.png");
  font-family: $font-stack;
  font-weight: $font-light;
  color: $sox-blue--light;
}
h1 {
  font-size: 4em;
  margin: (2em/3) 0 0 0;
  color: $sox-blue;
}
h2 {
  font-weight: $font-light;
  font-size: 2em;
  margin: (16em/9) 0;
  color: $sox-blue;
}
.about { margin-bottom: (8em/3); }
// links
a { color: $sox-blue; }
  a:hover, .icon:hover { color: $sox-red; }
.copyright {
  font-size: 0.8em;
}
.skills > ul { padding-left: 0; }
.skills__list > li { margin-bottom: 1em; }
// work-piece
.work-piece-list {
  padding-left: 0;
  -webkit-padding-start: 0;
}
.work-piece {
  list-style: none inside none;
  margin-bottom: 2em;
}
  .work-piece:nth-child(3n-2) { clear: left; }

  .work-piece__img {
    max-width: 100%;
    margin-bottom: 1em;
    border: 1px solid #024;
  }
  .work-piece__title {
    font-weight: 700;
    font-size: 1.2em;
  }
  .work-piece__description {
    margin-top: 0.5em;
    line-height: 2em;
  }
// triangle margin gradients
.triangle__margin--left > hr {
  background-image: linear-gradient(to right, rgba(0,34,68,0), rgba(0,34,68,0.75));
}
.triangle__margin--right > hr {
  background-image: linear-gradient(to left, rgba(0,34,68,0), rgba(0,34,68,0.75));
}

//
// SIZES
//

// medium triangle stylez
@media (max-width: 1000px) and (min-width: 500px) {
  .triangle__container { width: 50%; }
  .triangle__margin { width: 25%; }
}
// small triangle stylez
@media (max-width: 499px) {
  .triangle__container { width: 80%; }
  .triangle__margin {
    width: 10%;
    padding: 0;
  }
}

// small grid
@media (max-width: 666px) {
  .container { width: 90%; }
  h1 { font-size: 2.4em; }
  h2 { font-size: 1.3em; }
  .about,
  .skills, 
  .work-piece { width: 100%; }
  .titles__subtitle { width: 60%; }
  .titles__icon-bar { width: 40%; }
  .icon { margin: 0 0.3em; }
}

@media (max-width: 370px) {
  h1 { font-size: 2em; }
  h2 { font-size: 1.30em; }
  .icon { margin: 0 0.2em; }
  .titles__subtitle { width: 62%; }
  .titles__icon-bar { 
    padding-left: 0;
    width: 38%; }
}
