@import "compass/reset";
@import 'syntax_highlighting';
.lineno {
  color: #ccc;
}
@import "compass/css3/font-face";
@include font-face("icomoon", font-files("icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.woff"));

$font-stack: "Muli", sans-serif;
$font-light: 400;
$sox-blue: #002244;
$sox-blue--light: #224466;
$sox-red:  #C60C30;
$min-height: 7em;

// fonts and icons// {
//

.icon {
  float: left;
  margin: 0 0.455em;
}
.icon:hover {
  color: $sox-blue--light;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: rgba(240,240,240,0.85);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: "\e600"; }
.icon-twitter:before { content: "\e601"; }
.icon-github:before { content: "\e602"; }
.icon-linkedin:before { content: "\e603"; }// }
.youtube {
  width: 560px;
  max-width: 100%;
  height: 315px;
  margin: 2em 0;
}

body {
  background: url("../../images/bg.png");
  font-family: $font-stack;
  font-weight: $font-light;
  color: $sox-blue--light;
  margin: 0;
}
em { font-style: italic; }
h1 {
  font-size: 4em;
  color: $sox-blue;

  @media (max-width: 550px) {font-size: 3em}
}
h2 {
  font-weight: $font-light;
  font-size: 2em;
  margin: 0.5em 0;
  color: #888;
}
h3 {
  font-size: 1.8em;
  color: #666;
  margin: 1.2em 0 0.5em 0;
}
h4 {
  font-size: 1.2em;
  color: #444;
}
p, li {
  margin-bottom: 1em;
  font-family: "Century Schoolbook", serif;
  font-size: 1.2em;
}
ul {
  list-style: inherit;
}
ol {
  list-style: none;
  counter-reset: start-at-zero -1;
  margin: -0.7em 0 0.4em 0;

  >li {
    padding-left: 1em;
    margin-bottom: 0;
    &::before {
      color: #888;
      counter-increment: start-at-zero;
      content: counter(start-at-zero)'. ';
      margin: 0 0 0 -1em;
    }
  }
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
}
pre {
  line-height: 1.4;
  margin: 1em 0;
  overflow-x: scroll;
  padding: 0.45em;
  border-radius: 5px;
}
code {
  background-color: #f2f2f2;
  font-family: monospace;
  font-size: 1.1em;
  padding: 3px;
  border-radius: 3px;
}
  .highlight > code {
    background-color: inherit;
    padding: 0;
  }

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  color: #888;
}
article {
  line-height: 1.5;
  position: relative;
}
article, header h1, header p, footer p, .center {
  width: 625px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 700px) {
    width: 90%;
  }
}
header, footer {
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
  repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );
  min-height: $min-height;
  width: 100%;

  h1, p {
    // slight readability boost
    color: #fff;
    font-family: monospace;
    height: 100%;
    letter-spacing: 7px;
    text-align: left;
  }

  & a { color: #fff888; }
}
header {
  margin-bottom: 3em;
}
footer {
  line-height: 2.5;
  margin-top: 5em;
}

[id=post-list] ul, [id=post-list] ol { list-style: none; }
.sidenote__mark { color: #aaa; }
.sidenote {
  position: absolute;
  margin-right: -170px;
  right: 0;
  top: auto; /* default */
  width: 150px;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #777;
}

.titles {
  padding-top: 2em;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(100,100,100,0.35) 15%, rgba(100,100,100,0.35) 85%, rgba(0,0,0,0));
  min-height: $min-height;
}
.titles__icon-bar {
  height: 1.2em;
  // FIXME: hack to emulate pocketgrid gutter impact on site index
  position: relative;
  left: -12px;
}

.section__title {
  color: #bbb;
  float: right;
  padding-right: 0.5em;
  text-decoration: none;
}

.post-img {
  max-width: 100%;
  border: 1px solid #eee;
}
