.blog-post-container {
    padding: 0 10%;
    margin: auto;
    font-family: "Century Schoolbook", serif;
}

.blog-post-date {
    color: #dd9;
}

pre {
    padding: 0.5rem;
}

@media only screen and (max-width: 480px) {
    header h1 {
        max-width: 90%;
        font-size: 2.5em;
    }
    header h3 {
        max-width: 90%;
    }

    .blog-post-content h2 {
        font-size: 1.3em;
    }
}
