/*! PocketGrid 1.1.0
 * Copyright 2013 Arnaud Leray
 * MIT License
 */
/* Border-box-sizing */
/* line 8, ../sass/main.scss */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
/* line 15, ../sass/main.scss */
.block-group {
  *zoom: 1;
}

/* line 18, ../sass/main.scss */
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 23, ../sass/main.scss */
.block-group:after {
  clear: both;
}

/* line 27, ../sass/main.scss */
.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
/* line 35, ../sass/main.scss */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
/* line 42, ../sass/main.scss */
.block {
  float: left;
  width: 100%;
}

/* line 48, ../sass/main.scss */
.block-group {
  margin: -2px -12px;
}

/* line 49, ../sass/main.scss */
.block {
  padding: 2px 12px;
}

/* line 52, ../sass/main.scss */
.left {
  clear: left;
}

/* line 53, ../sass/main.scss */
.container {
  width: 80%;
  margin: auto;
}

/* line 57, ../sass/main.scss */
.triangle__container {
  width: 25%;
}

/* line 58, ../sass/main.scss */
.triangle__margin {
  width: 37.5%;
}

/* line 59, ../sass/main.scss */
.triangle {
  display: block;
  margin: auto;
}

/* line 63, ../sass/main.scss */
.titles__main {
  width: 80%;
}

/* line 64, ../sass/main.scss */
.titles__subtitle, .titles__icon-bar, .about, .skills, .skills__list {
  width: 50%;
}

/* line 65, ../sass/main.scss */
.work-piece {
  width: 33.33333%;
}

/* line 68, ../sass/main.scss */
.icon {
  float: right;
}

/* line 69, ../sass/main.scss */
.main-picture {
  max-width: 100%;
}

/* line 72, ../sass/main.scss */
.say-hi, .copyright {
  text-align: center;
}

/* line 73, ../sass/main.scss */
.triangle__margin > hr {
  margin-top: 75px;
  border: 0;
  height: 1px;
}

@font-face {
  font-family: "icomoon";
  src: url('/fonts/icomoon/fonts/icomoon.ttf?1428525560') format('truetype'), url('/fonts/icomoon/fonts/icomoon.woff?1428525560') format('woff');
}
/* line 88, ../sass/main.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #002244;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 103, ../sass/main.scss */
.icon {
  margin: 0 0.455em;
}

/* line 104, ../sass/main.scss */
.icon-facebook:before {
  content: "\e600";
}

/* line 105, ../sass/main.scss */
.icon-twitter:before {
  content: "\e601";
}

/* line 106, ../sass/main.scss */
.icon-github:before {
  content: "\e602";
}

/* line 107, ../sass/main.scss */
.icon-linkedin:before {
  content: "\e603";
}

/* line 110, ../sass/main.scss */
body {
  background: url("../images/bg.png");
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #224466;
}

/* line 116, ../sass/main.scss */
h1 {
  font-size: 4em;
  margin: 0.66667em 0 0 0;
  color: #002244;
}

/* line 121, ../sass/main.scss */
h2 {
  font-weight: 400;
  font-size: 2em;
  margin: 1.77778em 0;
  color: #002244;
}

/* line 127, ../sass/main.scss */
.about {
  margin-bottom: 2.66667em;
}

/* line 129, ../sass/main.scss */
a {
  color: #002244;
}

/* line 130, ../sass/main.scss */
a:hover, .icon:hover {
  color: #C60C30;
}

/* line 131, ../sass/main.scss */
.copyright {
  font-size: 0.8em;
}

/* line 134, ../sass/main.scss */
.skills > ul {
  padding-left: 0;
}

/* line 135, ../sass/main.scss */
.skills__list > li {
  margin-bottom: 1em;
}

/* line 137, ../sass/main.scss */
.work-piece-list {
  padding-left: 0;
  -webkit-padding-start: 0;
}

/* line 141, ../sass/main.scss */
.work-piece {
  list-style: none inside none;
}

/* line 142, ../sass/main.scss */
.work-piece__img {
  max-width: 100%;
  margin-bottom: 1em;
  border: 1px solid #024;
}

/* line 147, ../sass/main.scss */
.work-piece__title {
  font-weight: 700;
  font-size: 1.2em;
}

/* line 151, ../sass/main.scss */
.work-piece__description {
  margin-top: 0.5em;
  line-height: 2em;
}

/* line 156, ../sass/main.scss */
.triangle__margin--left > hr {
  background-image: linear-gradient(to right, rgba(0, 34, 68, 0), rgba(0, 34, 68, 0.75));
}

/* line 159, ../sass/main.scss */
.triangle__margin--right > hr {
  background-image: linear-gradient(to left, rgba(0, 34, 68, 0), rgba(0, 34, 68, 0.75));
}

@media (max-width: 1000px) and (min-width: 500px) {
  /* line 169, ../sass/main.scss */
  .triangle__container {
    width: 50%;
  }

  /* line 170, ../sass/main.scss */
  .triangle__margin {
    width: 25%;
  }
}
@media (max-width: 499px) {
  /* line 174, ../sass/main.scss */
  .triangle__container {
    width: 80%;
  }

  /* line 175, ../sass/main.scss */
  .triangle__margin {
    width: 10%;
    padding: 0;
  }
}
@media (max-width: 666px) {
  /* line 183, ../sass/main.scss */
  .container {
    width: 90%;
  }

  /* line 184, ../sass/main.scss */
  h1 {
    font-size: 2.4em;
  }

  /* line 185, ../sass/main.scss */
  h2 {
    font-size: 1.3em;
  }

  /* line 186, ../sass/main.scss */
  .about,
  .skills,
  .work-piece {
    width: 100%;
  }

  /* line 189, ../sass/main.scss */
  .titles__subtitle {
    width: 60%;
  }

  /* line 190, ../sass/main.scss */
  .titles__icon-bar {
    width: 40%;
  }

  /* line 191, ../sass/main.scss */
  .icon {
    margin: 0 0.3em;
  }
}
@media (max-width: 370px) {
  /* line 195, ../sass/main.scss */
  h1 {
    font-size: 2em;
  }

  /* line 196, ../sass/main.scss */
  h2 {
    font-size: 1.30em;
  }

  /* line 197, ../sass/main.scss */
  .icon {
    margin: 0 0.2em;
  }

  /* line 198, ../sass/main.scss */
  .titles__subtitle {
    width: 62%;
  }

  /* line 199, ../sass/main.scss */
  .titles__icon-bar {
    padding-left: 0;
    width: 38%;
  }
}
