header {
  background-color: #e9d4b9;
  background-image: repeating-linear-gradient(45deg, transparent 5px, rgba(11,36,45,0.5) 5px, rgba(11,36,45,0.5) 10px, rgba(211,119,111,0) 10px, rgba(211,119,111,0) 35px, rgba(211,119,111,0.5) 35px, rgba(211,119,111,0.5) 40px, rgba(11,36,45,0.5) 40px, rgba(11,36,45,0.5) 50px, rgba(11,36,45,0) 50px, rgba(11,36,45,0) 60px, rgba(211,119,111,0.5) 60px, rgba(211,119,111,0.5) 70px, rgba(247,179,85,0.5) 70px, rgba(247,179,85,0.5) 80px, rgba(247,179,85,0) 80px, rgba(247,179,85,0) 90px, rgba(211,119,111,0.5) 90px, rgba(211,119,111,0.5) 110px, rgba(211,119,111,0) 110px, rgba(211,119,111,0) 120px, rgba(11,36,45,0.5) 120px, rgba(11,36,45,0.5) 140px),repeating-linear-gradient(135deg, transparent 5px, rgba(11,36,45,0.5) 5px, rgba(11,36,45,0.5) 10px, rgba(211,119,111,0) 10px, rgba(211,119,111,0) 35px, rgba(211,119,111,0.5) 35px, rgba(211,119,111,0.5) 40px, rgba(11,36,45,0.5) 40px, rgba(11,36,45,0.5) 50px, rgba(11,36,45,0) 50px, rgba(11,36,45,0) 60px, rgba(211,119,111,0.5) 60px, rgba(211,119,111,0.5) 70px, rgba(247,179,85,0.5) 70px, rgba(247,179,85,0.5) 80px, rgba(247,179,85,0) 80px, rgba(247,179,85,0) 90px, rgba(211,119,111,0.5) 90px, rgba(211,119,111,0.5) 110px, rgba(211,119,111,0) 110px, rgba(211,119,111,0) 140px, rgba(11,36,45,0.5) 140px, rgba(11,36,45,0.5) 160px);
  margin-bottom: 1.45rem;
  color: rgb(240,240,240);
}

header h1 {
  margin: 1em auto;
  text-align: left;
  font-weight: 400;
  font-size: 3.14159em;
  max-width: 70%;
  height: 100%;
  letter-spacing: 7px;
}
header h3 {
  margin: 1em auto;
  text-align: left;
  max-width: 70%;
}
header > :first-child {
    background: linear-gradient(to right, transparent, rgba(100,100,100,0.35) 15%, rgba(100,100,100,0.38) 85%, transparent);
    height: 100%;
    width: 100%;
}

.icon-bar {
    margin: -1.5em auto 0;
    text-align: left;
    max-width: 70%;
}
.icon-bar > a {
    color: rgba(240,240,240,0.85);
}
.icon-bar > a:hover {
    color: #224466;
}
.icon-bar > a > svg {
    font-size: 2em;
    margin: 1rem;
}
.icon-bar > a > svg:first-of-type {
    margin-left: 0;
}

.shh {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
