<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Birdsall</title>
    <link href="/images/sierpinski_triangle.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="/css/index.css" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body itemscope itemtype="http://schema.org/Person">
    <header class="block-group">
      <div class="titles block-group">
        <h1 class="titles__main standard-margins" itemProp="name">hello, my name is Alex Birdsall</h1>

        <h2 class="block titles__icon-bar">
          <a href="http://github.com/ambirdsall"><span class="icon icon-github"></span></a>
          <a href="http://twitter.com/gobslapped"><span class="icon icon-twitter"></span></a>
          <a href="http://linkedin.com/in/ambirdsall"><span class="icon icon-linkedin"></span></a>
        </h2>
      </div>
    </header>

    <div class="block-group">
      <div class="posts__container standard-margins">
        <h2>thoughts | html &gt; browser</h2>
        <%
          # This sorting is a shitshow to read, but the goal is to end up with a list
          # of articles for each topic; with each list sorted most- to least-recent;
          # with topics sorted by the most recent article from each.
          blog.articles.group_by { |a| a.data.topic.downcase }
                       .map {|topic, list| [topic, list.sort {|a,b| b.date <=> a.date}]}
                       .sort {|a, b| b.last.first.date <=> a.last.first.date}
                       .each do |topic, list|
        %>
          <h3 class="topic__title"><%= topic.titleize %></h3>
          <ol class="posts__list">
            <% list.each do |article| %>
              <li class="post__link"><%= link_to article.title, article.url %></li>
            <% end %>
          </ol>
        <% end %>
      </div>

      <div class="triangle__container">
        <div class="triangle__margin triangle__margin--left left block"><hr></div>
        <div id="triangle" class="block"></div>
        <div class="triangle__margin triangle__margin--right block"><hr></div>
      </div>


      <div class="work-pieces__container standard-margins">
        <h2 class="work-pieces__title">some things I have made</h2>
        <ul class="work-piece-list">
          <li class="work-piece block">
            <a  target="_blank" href="https://github.com/ambirdsall/lawfetcher">
              <img class="work-piece__img" src="images/lawfetcher.png" alt="Lawfetcher screenshot">
              <p class="work-piece__title">Lawfetcher</p>
            </a>
            <p class="work-piece__description">
              A totally client-side app to parse US legal citations and
              program&shy;matically build direct links to the source document
              being cited. The project's was adopted to an institutional home
              under the aegis of Cornell Law's Legal Information Institute and
              rebranded as <a href="//law.cornell.edu/rio">RIO</a>.
            </p>
            <p class="work-piece__description">
              Technically, the project has been an excellent vector for
              learning about testing, build scripts, functional programming,
              and javascript transpilation. It has also provided a fascinating,
              albeit limited-scope, high-level overview of the structure of US
              law.
            </p>
          </li>
          <li class="work-piece block">
            <a  target="_blank" href="https://github.com/ambirdsall/wedding_photos">
              <img class="work-piece__img" src="images/wedding_gallery.jpg" alt="Wedding photo gallery screenshot">
              <p class="work-piece__title">Wedding Photo Gallery</p>
            </a>
            <p class="work-piece__description">
              As my wife and I were looking through the smugmug gallery of our
              wedding photos, the slideshow UI kept locking up. I decided
              making the photo list a doubly linked list would prevent that
              sort of memory problem, and rolled my own 
              <a target="_blank" href="https://alexandaudrey.com">gallery</a>.
            </p>
            <p class="work-piece__description">
              There's a rails backend that handles zipping sets of
              full-resolution photos for download. Rails isn't a perfect choice
              for such a small backend, but a) I wanted to practice testing in a
              rails environment, and b) this setup will be easier to extend
              down the line with features like tagging people and filtering the
              photo list by last or full names.
            </p>
          </li>
          <li class="work-piece block">
            <a  target="_blank" href="https://github.com/ambirdsall/javascript_sudoku_solver">
              <img class="work-piece__img" src="images/sudoku_solver.png" alt="sudoku solver screenshot">
              <p class="work-piece__title">Sudoku Solver</p>
            </a>
            <p class="work-piece__description">
              A sudoku solver written just ten weeks after starting Dev Boot&shy;camp.
              (Okay, I dressed up the css a bit afterwards, but the logic is very much
              a reflection of me as a rank beginner.) Can solve any puzzle (that
              is possible to solve), even ones that require guessing. DOM
              interactions done with jQuery; solving logic all in vanilla ES5.
            </p>
          </li>
          <li class="work-piece block">
            <a target="_blank" href="https://github.com/ambirdsall/buckets/pull/3">
              <img class="work-piece__img" src="images/buckets.png" alt="buckets screenshot">
              <p class="work-piece__title">Buckets</p>
            </a>
            <p class="work-piece__description">
              Here's the pull request I made for API inter&shy;actions and data
              storage for an NBA stats app. The app's development was arrested
              at the proof of concept stage, once I read the small print and
              saw it unambiguously stated that outside use of the stats.nba.com
              API (at least circa when I was working on it) wasn't legal; but
              it was a good exercise in trying to write an <a
               href="https://en.wikipedia.org/wiki/Adapter_pattern">Adapter</a>
              that isn't horrible and a thoroughly-documented PR.
            </p>
          </li>
        </ul>
      </div>

      <h3 class="block say-hi">Is your team looking for a rad developer? <a href="mailto:ambirdsall@gmail.com?Subject=I%20Saw%20Your%20Website">Send&nbsp;me&nbsp;an&nbsp;email</a>!</h3>

      <p class="block copyright">
        &copy; <%= Date.today.year %> Alex Birdsall
      </p>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type="text/javascript" src="js/triangle_b.js"></script>
  </body>
</html>
